div.row {
    display: flex;

    &:nth-of-type(even){
        background-color: #F0F0FB;
    }

    &:hover{
        background-color: #EEE;
    }

    .title {
        flex: 0 0 50px;
        text-align: center;
        vertical-align: middle;
        p {
            margin: 1em auto 0;
            white-space: nowrap;
            font-size: 70%;
            &.desc {
                font-weight: bold;
                font-size: 110%;
            }
            &.note {
                margin: 0 auto;
                color: #444;
            }
        }
    }

    .rows {
        display: block;
        width: 100%;
        min-height: 4em;
        .content {
            position: relative;
            height: 4em;
            margin: 0;
            clear: both;
            overflow: hidden;
            &:not(:last-of-type){
                margin-bottom: 2px;
            }
        }
    }
}
