.lesson-item {
    display: inline-block;
    position: absolute;
    .lesson-container {
        display: block;
        overflow: hidden;
        margin: 0 auto;
        border: 0.05em solid gray;
        height: 3.9em;
        background-color: lightgray;
        time {
            display: block;
            clear: both;
            overflow: hidden;
            font-size: 70%;
            padding: 1px 0.5em 0;
            .from {
                float: left;
            }
            .to {
                float: right;
            }
        }
        p {
            margin: 4px auto;
        }
        .lesson-data {
            abbr {
                display: block;
                margin: 0.1em auto;
                text-align: center;
                color: black;
                font-weight: bold;
                text-decoration: none;
            }
            display: block;
            margin: 2px 0;
            text-align: center;
            p.teacher {
                padding: 2px 0.5em;
                font-size: 85%;
            }
            p.room {
                padding: 0.3em;
                white-space: nowrap;
            }
        }
    }
    &.red {
        .lesson-container {
            background-color: #ffb7b0;
            border-color: #ff1700;
        }

        &.grayscale {
            .lesson-container {
                background-color: #cbcbcb;
                border-color: #5a5a5a;
            }
        }
    }
    &.orange {
        .lesson-container {
            background-color: #ffc885;
            border-color: #ff8e00;
        }

        &.grayscale {
            .lesson-container {
                background-color: #d1d1d1;
                border-color: #a0a0a0;
            }
        }
    }
    &.yellow {
        .lesson-container {
            background-color: #fff7b3;
            border-color: #ffe400;
        }

        &.grayscale {
            .lesson-container {
                background-color: #f1f1f1;
                border-color: #d3d3d3;
            }
        }
    }
    &.green {
        .lesson-container {
            background-color: #a7ffa6;
            border-color: #06ff00;
        }

        &.grayscale {
            .lesson-container {
                background-color: #dadada;
                border-color: #989898;
            }
        }
    }
}
